<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ingredients" frontName="ingredients">
            <module name="Annam_Ingredients"/>
        </route>
    </router>
</config>
