<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_postdispatch_insights">
        <observer name="annam_mapping_observer" instance="Annam\Mapping\Observer\UrlSwitch" />
    </event>
    <event name="controller_action_postdispatch_meal">
        <observer name="annam_mapping_observer" instance="Annam\Mapping\Observer\UrlSwitch" />
    </event>
</config>
